/*
    *{ border: 1px solid red; }
*/

body {
    color: black;
    font-family: "Ariel", sans-serif;
}

.bg {
    position:relative;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: white;
    background-size: cover;
}

#logo {
    padding-top: 30px;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.form_login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#login {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

#devices {
    text-align: center;
    margin: 0;
}

#handle {
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

#thanks {
    text-align: center;
    margin: 0;
    margin-top: 15px;
}

#customers {
    text-align: center;
    margin: 0;
}

#powered {
    text-align: center;
    margin: 0;
    margin-top: 80px;
}

#powered_connect {
    text-align: center;
    margin: 0;
    margin-top: 280px;
}

#powered_thanks {
    text-align: center;
    margin: 0;
    margin-top: 260px;
}

#powered_welcome {
    text-align: center;
    margin: 0;
    margin-top: 260px;
}

#copyright {
    text-align: center;
    margin: 0;
} 

#gap {
    margin-top: 5px;
}

.centered_elements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

/* Media Query for Desktops */

@media only screen and (min-width: 768px) {
    html {
        overflow: hidden;
    }
    .bg {
        position: absolute;
        background-size: 100% 100%;
    }
    #logo {
        padding-top: 50px;
        max-width: 10%;
    }
    #powered {
        margin-top: 80px;
    }
    #powered_connect {
        margin-top: 275px;
    }
    #powered_thanks {
        margin-top: 270px;
    }
    #powered_welcome {
        margin-top: 260px;
    }
}

/* Media Query for iPads */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
    #powered {
        margin-top: 225px;
    }
    #powered_connect {
        margin-top: 420px;
    }
    #powered_thanks {
        margin-top: 420px;
    }
    #powered_welcome {
        margin-top: 410px;
    }
    #logo {
        max-width: 20%;
    }
}
